[submodule "tmux"]
	path = tmux
	url = git@github.com:TaegyunHa/tmux.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:TaegyunHa/zsh.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:TaegyunHa/nvim.git
[submodule "powershell"]
	path = powershell
	url = git@github.com:TaegyunHa/powershell.git
